.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

body {
    font-family: sans-serif;
}

.scene {
    width: 150px;
    height: 150px;
    margin: 40px 0;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 150px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card__face--front {
    background: dodgerblue;
    background-image: url("../image/images.jfif");
    background-size: contain;
}

.card__face--back {
    background: red;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
#title{
    color: red;
}